* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* para que los elementos de los sontenedores no sobresalgan */
    font-family: "Source Code Pro";
    color: #fff;
}

body {
    background-image: url('../assets/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px;
    min-height: 100vh;
    height: 3000px;
}

.content_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 100px 0px 100px;
}

header {
    display: flex;
    justify-content: center;
    /*background-color: green;*/
}

header img {
    width: 4.5vw;
    min-width: 40px;
    /*background-color: blueviolet;*/
}

h2 {
    /* Titulo principal */
    font-size: 25px;
    font-weight: 800;
    color: #ffffff;
}

h3 {
    /* subtitulo con color */
    font-size: 25px;
    font-weight: 800;
    color: #faaf37;
}

h4 {
    /* subtitulo */
    font-size: 20px;
    font-weight: 800;
    color: #ffffff;
}

h5 {
    /* subtitulo pequeño con color */
    font-size: 15px;
    font-weight: 600;
    color: #faaf37;
}

h6 {
    /* subtitulo pequeño */
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
}

p {
    font-size: 17px;
    font-weight: 400;
    color: #ffffff;
}

.important_yellow{
    font-size: 17px;
    font-weight: 600;
    color: #faaf37;
    
}

/*------------------------------------------------------------------------------*/

.page_part_01 {
    width: auto;
    height: auto;
    margin: 50px 0px 200px 0px;
    /*background-color: beige;*/
}

.part_01 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    /*background-color: violet;*/
}

.part_01 h4 {
    margin-top: -5px;
    font-weight: 600;
    color: #faaf37;
}

.part_01 p {
    margin-top: 20px;
}

.part_content_01 {
    display: flex;
    max-width: 1100px;
    flex-direction: column;
    padding: 30px;
    border-radius: 50px;

    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.15);

    z-index: 0;
}

.foto_hector_inicio {
    width: 18vw;
    max-width: 350px;
    min-width: 150px;
    border-radius: 100%;
    margin: -150px 0px 0px -25px;

    z-index: +2;
}

.redes_inicio {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin: 15px 0px 15px 20px;

    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.redes_inicio img {
    width: 30px;
    margin-bottom: -3px;
}

@media(max-width: 1000px) {
    .content_page {
        margin: 20px 80px 0px 80px;
    }
}

@media(max-width: 750px) {
    .page_part_01 {
        margin: 10px 0px 200px 0px;
        /*background-color: beige;*/
    }

    .content_page {
        margin: 20px 20px 0px 20px;
    }

    .part_01 {
        flex-direction: column;
    }

    .part_content_02 {
        display: flex;
        flex-direction: row;
        margin: 0px 0px -15px -20px;
        /*background-color: #faaf37;*/
    }

}

/*------------------------------------------------------------------------------*/

.page_part_02 {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.page_part_02_titles {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    /*background-color:antiquewhite;*/
}

.page_part_02_titles img{
    width: 23px;
    /*background-color:antiquewhite;*/
}

.page_part_02_titles h2{
    display: flex;
    flex-direction: row;
    margin-left: 7px;
    /*background-color:antiquewhite;*/
}

.page_part_02_box {
    display: flex;
    max-width: 1150px;
    flex-direction: column;
    padding: 25px 25px 25px 25px;
    border-radius: 50px;

    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.page_part_02_content_01 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 5px 0px 5px;
}

.page_part_02_content_02 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 50px 5px 50px 5px;
}

.page_part_02_content_03 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 5px 10px 5px;
}

.page_part_02_subtitle {
    flex-basis: 45%;
}

.page_part_02_subtitle h3 {
    margin-bottom: -5px;
}

.page_part_02_subtitle h6 {
    margin-top: 10px;
}

.page_part_02_paragraph {
    display: flex;
    flex-direction:column;
    align-items: start;

    flex-basis: 55%;
}

.page_part_02_button_instagram img{
    transition: 0.5s;
    display: flex;
    width: 110px ;
    height: auto;
    padding: 5px;
    margin-top: 8px;
    border-radius: 10px;
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.page_part_02_button_instagram :hover{
    transition: 0.5s;
    transform: scale(1.05);
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.5);
    outline: rgba(255, 255, 255, 0.15) solid 1px;
}

@media(max-width: 1100px) {
    .page_part_02_content_01 {
        flex-direction: column;
        align-items: start;
        margin: 10px 5px 0px 5px;
       /* background-color: brown;*/
    }

    .page_part_02_content_02 {
        flex-direction: column;
        align-items: start;
        margin: 80px 5px 80px 5px;
       /* background-color: brown;*/
    }

    .page_part_02_content_03 {
        flex-direction: column;
        align-items: start;
        margin: 0px 5px 10px 5px;
       /* background-color: brown;*/
    }

    .page_part_02_subtitle {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-bottom: 25px;
        /*background-color: hotpink;*/
    }

    .page_part_02_paragraph {
        display: flex;
        flex-direction:column;
        align-items: start;
        margin-left: 50px;
    }

    .page_part_02_paragraph p{
        font-size: 13px;
    }

    .page_part_02_paragraph span{
        font-size: 13px;
    }
}

/*------------------------------------------------------------------------------*/